.landing-image {
  background-image: url("./../../images/bitcoin-live/landing_top_right.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  min-width: 100vw/2;
  min-height: 703px;
}

.img-leading-crypto {
  margin-top: 4%;
  background-image: url("../../images/bitcoin-live/trading_psych.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
  min-width: 300px;
  min-height: 350px;
}

.img-crypto-traning {
  margin-top: 4%;
  background-image: url("../../images/bitcoin-live/tools.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  min-width: 300px;
  min-height: 350px;
}

.img-community {
  margin-top: 4%;
  background-image: url("../../images/bitcoin-live/community.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  min-width: 300px;
  min-height: 350px;
}
